<div class="animated fadeIn">
<div class="card-header bg-info">
          <i class="fa fa-align-justify"></i> <button (click)="openModalAddEdit('','primary','Add Data Role','Create',true,template)" type="button" class="btn btn-primary btn-small"><i class="cil-folder"></i>  Add New Role</button>
        </div>
  <div class="row" style="overflow-x: scroll;">
    <div class="col">
      <div class="card">
       <div class="row" style="width:1200;">
    <div class="col">
      <div class="card">
        
		<ng-template #template>
		   <div class="modal-header bg-{{modalType}}">
			  <h4 class="modal-title pull-left"><i class="cil-folder"></i> {{modalDataTitle}}</h4><div class="spinner-grow text-primary ml-2" style="{{spinnerHideShow ||'display:block'}}" role="status">
  <span class="sr-only">Loading...</span>
</div>
			  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				 <span aria-hidden="true">×</span>
			  </button>
		   </div>
		   <div class="modal-body bg-{{modalType}}">
			  <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)" novalidate>
            <div class="form-group">
              <label class="form-col-form-label" >Role Name</label>
              <input type="text" class="form-control" name="role_name" formControlName="role_name" [(ngModel)]="this.formData.role_name">
			  <input type="hidden" class="form-control" formControlName="id" [(ngModel)]="this.formData.id">
            </div>
			<div *ngIf="getControl.role_name.invalid && (getControl.role_name.dirty || getControl.role_name.touched) || (getControl.role_name.untouched && attemptSubmit)" class="alert alert-danger">
				  <div *ngIf="getControl.role_name.errors?.required">Role is required.</div>
				  <div *ngIf="getControl.role_name.errors?.minlength">Minimum 3 character are required.</div>
			</div>
			<div class="form-group">
              <button type = "submit" class="btn btn-info px-4"><i class="cil-check-alt"></i> {{modalBtn}} </button>
            </div>
          </form>
        </div>
		   </div>
		   <div class="modal-footer bg-{{modalType}}">
			  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()"><i class="cil-x"></i> Close</button>
		   </div>
		</ng-template>
		
		<ng-template #templateDetail>
		   <div class="modal-header bg-success">
			  <h4 class="modal-title pull-left"><i class="cil-user"></i> Data Detail Role</h4><div class="spinner-grow text-primary ml-2" style="{{spinnerHideShow || 'display:block'}}" role="status">
  <span class="sr-only">Loading...</span>
</div>
			  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				 <span aria-hidden="true">×</span>
			  </button>
		   </div>
		   <div class="modal-body bg-success">
			  <div class="card-body">
          <form>
            <div class="form-group">
              <label class="form-col-form-label" >Role</label>
			  <label class="form-control" >{{formData.role_name}}</label>
             </div>
		  </form>
        </div>
		   </div>
		   <div class="modal-footer bg-success">
			  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()"><i class="cil-x"></i> Close</button>
		   </div>
		</ng-template>
		
		<ng-template #templateAssign>
		   <div class="modal-header bg-info">
			  <h4 class="modal-title pull-left"><i class="cil-user"></i> Assign to Role</h4><div class="spinner-grow text-primary ml-2" style="{{spinnerHideShow || 'display:block'}}" role="status">
  <span class="sr-only">Loading...</span>
</div>
			  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				 <span aria-hidden="true">×</span>
			  </button>
		   </div>
		   <div class="modal-body bg-info">
			  <div class="card-body">
          <form>
            <div class="list-group">
			  <a class="list-group-item text-dark bg-success list-group-item-action" aria-current="true">
				Master
			  </a>
			  <a *ngIf="dataAssign['mrole']" (click)="makeAssignData('mrole',$event)" class="list-group-item text-dark bg-primary list-group-item-action">Role</a>
			  <a *ngIf="!dataAssign['mrole']" (click)="makeAssignData('mrole',$event)" class="list-group-item text-dark bg-white list-group-item-action">Role</a>
			  <a *ngIf="dataAssign['muser']" (click)="makeAssignData('muser',$event)" class="list-group-item text-dark bg-primary list-group-item-action">User</a>
			  <a *ngIf="!dataAssign['muser']" (click)="makeAssignData('muser',$event)" class="list-group-item text-dark bg-white list-group-item-action">User</a>
			  <a *ngIf="dataAssign['memployee']" (click)="makeAssignData('memployee',$event)" class="list-group-item text-dark bg-primary list-group-item-action">Employee</a>
			  <a *ngIf="!dataAssign['memployee']" (click)="makeAssignData('memployee',$event)" class="list-group-item text-dark bg-white list-group-item-action">Employee</a> 
			  <a *ngIf="dataAssign['mbranch']" (click)="makeAssignData('mbranch',$event)" class="list-group-item text-dark bg-primary list-group-item-action">Branch</a>
			  <a *ngIf="!dataAssign['mbranch']" (click)="makeAssignData('mbranch',$event)" class="list-group-item text-dark bg-white list-group-item-action">Branch</a>
			  <a *ngIf="dataAssign['mcompany']" (click)="makeAssignData('mcompany',$event)" class="list-group-item text-dark bg-primary list-group-item-action">Company</a>
			  <a *ngIf="!dataAssign['mcompany']" (click)="makeAssignData('mcompany',$event)" class="list-group-item text-dark bg-white list-group-item-action">Company</a>
			  <a *ngIf="dataAssign['massignment']" (click)="makeAssignData('massignment',$event)" class="list-group-item text-dark bg-primary list-group-item-action">Assignment</a>
			  <a *ngIf="!dataAssign['massignment']" (click)="makeAssignData('massignment',$event)" class="list-group-item text-dark bg-white list-group-item-action">Assignment</a>
			</div>
		  </form>
		  <div class="form-group">
              <button type = "submit" (click)="updateAssign($event)" class="btn btn-warning mt-3 px-4"><i class="cil-check-alt"></i>Update</button>
            </div>
        </div>
		   </div>
		   <div class="modal-footer bg-info">
			  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()"><i class="cil-x"></i> Close</button>
		   </div>
		</ng-template>
		
		<ng-template #templateConfirm>
		  <div class="modal-header bg-danger">
			<h4 class="modal-title pull-left">Confirmation</h4><div class="spinner-border text-success ml-3" role="status" style="{{spinnerHideShow || 'display:block'}}">
  <span class="sr-only">Loading...</span>
</div>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			Are you want to delete this item ?
		  </div>
		  <div class="modal-footer">
		      <button type = "submit" class="btn btn-danger" (click)="deleteItem($event)"><i class="cil-check"></i> Confirm</button>
			  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()"><i class="cil-x"></i> Cancel</button>
		   </div>
		</ng-template>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
			    <th>No</th>
				<th>Action</th>
                <th><a (click)="sortData('id',$event)" href="#">Id</a></th>
                <th><a (click)="sortData('role_name',$event)" href="#">Role Name</a></th>
                <th>Role Assign</th>
			  </tr>
			  <tr>
			    <th></th>
				<th></th>
                <th></th>
                <th><input type="text" class="form-control" [(ngModel)]="this.searchData.role_name" (keyup)="searchPage()"></th>
				<th></th>
              </tr>
            </thead>
            <tbody>
			  <tr *ngFor = "let x of data ; let i = index" [attr.data-index]="i">
				 <td>{{(perPage*(curPage-1))+i+1}}</td>
				 <td width="270"><button (click)="openModalDetail(x,templateDetail)" type="button" class="btn btn-success btn-small mr-2"> <i class="cil-library"></i> Detail</button><button (click)="openModalAddEdit(x,'warning','Edit Data Role','Update',false,template)" type="button" class="btn btn-warning btn-small mr-2"> <i class="cil-pencil"></i> Edit</button><button (click)="openModalConfirm(x.id,templateConfirm)" type="button" class="btn btn-danger btn-small"> <i class="cil-trash"></i>  Delete</button></td>
				 <td>{{x.id}}</td>
				 <td>{{x.role_name}}</td>
				 <td width="110"><center><button (click)="openModalAssign(x,templateAssign)" type="button" class="btn btn-info btn-small mr-2"> <i class="cil-library"></i> Assign</button></center></td>
			  </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li *ngIf="prevPageBtn" class="page-item"><a class="page-link" (click)="prevPage($event)" href="#">Prev</a></li>
			  <div *ngFor="let xxx of numbers; index as i; first as isFirst">
			     <li (click)="activePage((begPage+xxx-1),$event)" *ngIf="(begPage+xxx-1)===curPage && i <= maxPage" class="page-item active"><a class="page-link" href="#">{{begPage+xxx-1}}</a></li>
				 <li (click)="activePage((begPage+xxx-1),$event)" *ngIf="(begPage+xxx-1)!==curPage && i <= maxPage" class="page-item"><a class="page-link" href="#">{{begPage+xxx-1}}</a></li>
			  </div>
              <li *ngIf="nextPageBtn" class="page-item"><a class="page-link" href="#" (click)="nextPage($event)">Next</a></li>
			  <li class="page-item"><div class="spinner-border text-success ml-3" role="status" style="{{spinnerHideShow || 'display:block'}}">
  <span class="sr-only">Loading...</span>
</div></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
